Assets/Packages
Assets/Plugins
Assets/grpc_unity_package.2.44.0-dev202112241007.zip.meta
Server/node_modules
Gekitai_BurstDebugInformation_DoNotShip
Gekitai_Data
Library
Logs
MonoBleedingEdge
Packages
ProjectSettings
UserSettings
Temp